<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/style-2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <%- include ('partials/header.html') %>

<main>
    <section class="about">
        <div id="about-container">
            <div id="about-tittle">
                <h1>About</h1>
            </div>
            <div id="picture"></div>
            <div id="ap1">
                <p> 
                    My name is Eduardo, I'm an industrial engineer currently living
                    in the northernmost part of Quebec, Canada 
                    <i class="fa-brands fa-canadian-maple-leaf" id="canada"></i><br>
                    -- Kuujjuaq -- <br><br>
                    I specialize in process improvement & lately I've been teaching myself 
                    web development. <br><br>
                    One of my biggest dreams is to become a full-time freelancer and be able
                    to work anywhere in the world
                    <i class="fa-solid fa-location-dot" id="location"></i>
                    <br>
                </p>
            </div>
            <div id="ap2">
                <h2>Education</h2><br>
                <p>
                    Bachelor of Engineering in Industrial Engineering
                    at Universidad Diego Portales (UDP) --- Santiago, Chile.
                </p>
            </div>
            <div id="ap3">
                <h2>Skills:</h2>
                <div id="skills">
                    <i class="fa-brands fa-html5"></i>
                    <i class="fa-brands fa-css3-alt"></i>
                    <i class="fa-brands fa-js"></i>
                    <i class="fa-brands fa-node-js"></i>
                </div>
            </div>
        </div>
    </section>
</main>

    <%- include ('partials/footer.html') %>

</body>