<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/style-2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <%- include ('partials/header.html') %>

<main>
    <section class="about">
        <div id="about-container">
            <div id="about-tittle">
                <h1>About</h1>
            </div>
            <div id="picture"></div>
            <div id="about-paragraph">
                <p> 
                    Hello! My name is Eduardo, and I am an industrial engineer with 
                    two years of experience in the field. I specialize in process 
                    improvement, project management, and data analysis. <br>
                    <br>
                    <!-- One of my strengths is my ability to analyze complex data sets and 
                    identify areas for improvement. I am skilled in using statistical 
                    tools such as Six Sigma and Lean methodology to streamline processes 
                    and reduce waste. <br>
                    <br>
                    When I'm not working, I enjoy coding & learning new languages. I am also 
                    committed to help kids in my community to learn matemathics. <br>
                    <br>
                    Thank you for taking the time to learn a bit more about me. I look 
                    forward to connecting with you and exploring opportunities to work 
                    together. -->
                </p>
            </div>
            <div id="p2">
                <h2>Education</h2><br>
                <p>
                    Bachelor of Engineering in Industrial Engineering
                    at Universidad Diego Portales (UDP) --- Santiago, Chile.
                </p>
            </div>
        </div>
    </section>
</main>

    <%- include ('partials/footer.html') %>

</body>