<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/style-2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <%- include ('partials/header.html') %>

<main>
    <section class="about">
        <div class="container">
            <div class="description">
                <h1>About</h1>
                <div class="picture"></div>
                <p> Hello! My name is Eduardo, and I am an industrial engineer with 
                    two years of experience in the field. I specialize in process 
                    improvement, project management, and data analysis.
                    <br>
                    My passion for industrial engineering began during my undergraduate 
                    studies at [Name of University], where I earned my degree in 
                    [Name of Degree]. I was drawn to this field because of its focus on 
                    optimizing systems and processes to improve efficiency and productivity.
                    <br>
                    Since then, I have had the opportunity to work with a variety of 
                    organizations, including [Name of Company or Industry], where I led 
                    several successful projects that resulted in significant cost savings 
                    and increased production rates.
                    <br>
                    One of my strengths is my ability to analyze complex data sets and 
                    identify areas for improvement. I am skilled in using statistical 
                    tools such as Six Sigma and Lean methodology to streamline processes 
                    and reduce waste.
                    <br>
                    In addition to my technical skills, I am also a strong communicator 
                    and collaborator. I enjoy working with cross-functional teams to 
                    develop and implement solutions that meet the needs of all stakeholders.
                    <br>
                    When I'm not working, I enjoy [Hobbies or Interests]. I am also 
                    committed to [Volunteer Work or Community Involvement].
                    <br>
                    Thank you for taking the time to learn a bit more about me. I look 
                    forward to connecting with you and exploring opportunities to work 
                    together.
                </p>
            </div>
        </div>
    </section>
</main>

    <%- include ('partials/footer.html') %>

</body>