<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/style-2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <%- include ('partials/header.html') %>

<main>
    <section class="about">
        <div class="container">
            <div class="description">
                <h1>Contact</h1>
                <div class="picture"></div>
                <p>
                    Thank you for your interest in my services as an industrial engineer 
                    freelancer. Please fill out the form below, and I will get back to 
                    you as soon as possible.
                    
                    [Contact Form]
                    
                    Alternatively, you can reach me at the following email address:
                    
                    [Your Email Address]
                    
                    Please include a brief description of your project or inquiry, 
                    and I will respond promptly to discuss your needs further.
                    
                    Thank you again for considering my services, and I look forward 
                    to hearing from you soon.
                    
                    Best regards,
                    
                    [Your Name]
                </p>
            </div>
        </div>    
        <div class="container" id="contact-container">
            <div class="contact-card">
                <div class="contact-tittle">
                    <h2>Contact</h2>
                </div>
                <div class="contact-form">
                    <form action="" method="get">
                        <div class="form">
                            <label for="name">Name: </label>
                            <br>
                            <input type="text" name="name" id="name" required>
                        </div>
                        <div class="form">
                            <label for="email">e-mail: </label>
                            <br>
                            <input type="email" name="email" id="email" required!>
                        </div>
                        <div class="form">
                            <label for="msg">Message:</label>
                            <br>
                            <textarea id="msg" name="user_message"></textarea>
                        </div>
                        <div class="form-button" id="button-form">
                            <input class="button" type="submit" value="Send it!">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>

    <%- include ('partials/footer.html') %>

</body>