<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eolguin.dev</title>
    <link rel="stylesheet" href="/css/style-2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <%- include ('partials/header.html') %>

<main>
    <section class="home">
        <div class="container" id="home-container">
            <div class="hero">
                <div class="tittle" id="hero-tittle">
                    <h1>Solving complex problems <br> through engineering</h1>
                </div>
                <div class="paragraph" id="hero-paragraph">
                    <p>
                        I specialize in providing customized solutions that optimize 
                        efficiency, productivity, and profitability, to help my clients 
                        achieve their goals. Whether you're looking to streamline your 
                        manufacturing processes, improve supply chain logistics, 
                        or enhance your facility layout, I have the skills and knowledge 
                        to deliver results. Let me help you tackle your toughest 
                        challenges and unlock your full potential.
                    </p>
                </div>
                <div id="contact-me">
                    <button class="button"><a href="/contact"> Contact me </a></button>
                </div>
            </div>
        </div>
    </section>

<!--<section class="services">
        <div class="container" id="service-container">
            <div id="service">
                <h2 id="service-tittle">Services</h2>
            </div>
            <div class="cards">
                <div class="card">
                    <div class="text">
                        <i class="fas fa-code"></i>
                        <h3>Web Development</h3>
                        <br>
                        <p>I love to do things right at first. For that reason I develop custom code just baked from my head, that doesn't mean
                           that I reinvent the wheel everytime, but you can be sure that you will recieve code that has been made exclusively for you
                           and your project.
                        </p> 
                    </div>                    
                </div>
                <div class="card">
                    <div class="text">
                        <i class="fas fa-boxes"></i>
                        <h3>Management & Logistic</h3>
                        <br>
                        <p>Do you have an ongoing bussines? but you don't know how excel the maximum of it. No worries, my job is to provide guidance,
                            and all the knowledge for your company to succeed.
                        </p>  
                    </div>                        
                </div>
                <div class="card">
                    <div class="text">
                        <i class="fas fa-chart-pie"></i>
                        <h3>Financial evaluation</h3>
                        <br>
                        <p>From theorical to reality, bring your idea to the next level! and for that you need a solid background & well structured financial plan.
                        </p>
                    </div>                         
                </div>
            </div>
            <div class="space"></div>
        </div>
    </section>
-->
</main>

    <%- include ('partials/footer.html') %>

</body>
</html>