<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eolguin.dev</title>
    <link rel="stylesheet" href="/css/style-2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <%- include ('partials/header.html') %>

<main>
    <section class="home">
        <div class="container" id="hero-container">
            <div id="hero-picture"></div>
            <div  id="hero-tittle">
                <h1>Solving <br> complex problems <br> through engineering</h1>
            </div>
            <div class="paragraph" id="hero-paragraph">
                <p>
                I specialize in providing customized solutions that optimize efficiency, productivity, and 
                profitability, to help my clients achieve their goals. Whether you're looking to streamline 
                your manufacturing processes, improve supply chain logistics, or enhance your facility layout, 
                I have the skills and knowledge to deliver results. Let me help you tackle your toughest 
                challenges and unlock your full potential.
                </p>
            </div>
            <div id="contact-me">
                <button class="button" id="button-hero"><a href="#contact-container"> Let's connect! </a></button>
            </div>
        </div>
    </section>

    <section>
        <div id="home-separation">
        </div>
    </section>

    <section class="services">
        <div class="container" id="services-container">
            <div class="tittle" id="services-tittle">
                <h1>Services</h1>
            </div>
            <div class="paragraph" id="services-paragraph">
                <div id="a">
                    <h2>Process Improvement Consulting: </h2><br>
                    <p>
                    You can offer consulting services to help clients improve their 
                    manufacturing, logistics, and supply chain processes, optimizing 
                    efficiency, and reducing waste.
                    </p>
                    <br>
                </div>
                <div id="b">
                    <h2>Operations Management: </h2><br>
                    <p>
                    You can offer services to manage operations for businesses that 
                    require an industrial engineer's expertise. This can include project 
                    management, production planning, and quality control.
                    </p>
                </div>
                <div id="c">
                    <h2>Facility Design: </h2><br>
                    <p>
                    You can offer services to design factories, warehouses, and other 
                    industrial facilities, taking into account factors like layout, 
                    workflow, and safety.
                    </p>
                    <br>
                </div>
                <div id="d">
                    <h2>Data Analysis: </h2><br>
                    <p>
                    You can offer data analysis services to help clients make informed 
                    decisions and optimize their operations using statistical analysis, 
                    simulation modeling, and other analytical techniques.
                    </p>
                </div>
            </div>                
        </div>
    </section>

    <section class="contact">
        <div class="container" id="contact-container">
            <div class="card">
                <div class="tittle" id="card-tittle">
                    <h1>Contact</h1>
                </div>
                <div class="paragraph" id="card-paragraph">
                    <p>
                    Thank you for your interest in my services!. <br> Fill out the form & include a brief 
                    description of your project. <br> I will get back to you as soon as possible.
                    </p>
                </div>
                <form action="" method="get">
                    <div class="form">
                        <i class="fa-regular fa-user"></i>
                        <input autocomplete="off" placeholder="Name" type="text" name="name" class="input" required!>
                    </div>
                    <div class="form">
                        <i class="fa-regular fa-at"></i>
                        <input autocomplete="off" placeholder="E-mail" type="email" name="email" class="input" required!>
                    </div>
                    <div class="form">
                        <i class="fa-regular fa-comment"></i>
                        <textarea placeholder="Message" name="user_message" class="input" required!></textarea>
                    </div>
                    <div id="button-form">
                        <button class="button" type="submit" value="Send it!">
                            <i class="fa-regular fa-paper-plane"></i>
                            <a>Send it!</a>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>

</main>

    <%- include ('partials/footer.html') %>

</body>
</html>