<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/style-2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <%- include ('partials/header.html') %>

<main>
    <section class="about">
        <div class="container">
            <div class="description" id="services-description">
                <h1>Services</h1>
                <div class="picture"></div>
                <h2>Process Improvement Consulting: </h2>
                <p>
                You can offer consulting services to help clients improve their 
                manufacturing, logistics, and supply chain processes, optimizing 
                efficiency, and reducing waste.
                </p>
                <br>
                <h2>Operations Management: </h2>
                <p>
                You can offer services to manage operations for businesses that 
                require an industrial engineer's expertise. This can include project 
                management, production planning, and quality control.
                </p>
                <br>
                <h2>Facility Design: </h2>
                <p>
                You can offer services to design factories, warehouses, and other 
                industrial facilities, taking into account factors like layout, 
                workflow, and safety.
                </p>
                <br>
                <h2>Ergonomic Design: </h2>
                <p>
                You can offer services to design ergonomic workspaces and equipment 
                to improve employee comfort, productivity, and safety.
                </p>
                <br>
                <h2>Data Analysis: </h2>
                <p>
                You can offer data analysis services to help clients make informed 
                decisions and optimize their operations using statistical analysis, 
                simulation modeling, and other analytical techniques.
                </p>
            </div>
        </div>
    </section>
</main>

    <%- include ('partials/footer.html') %>

</body>