<script src="app.js"></script>

<footer>
    <div class="footer">
        <div class="container">
            <div class="copyright-footer">
                <span>Copyrigth &copy 2023</span>            
            </div>
            <div class="social-media-icons">
                <li><a href="https://github.com/rvndom92" target="_blank" class="icon"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.instagram.com/eduardosebastian_/" target="_blank "class="icon"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.linkedin.com/in/eduardo-olguind/" target="_blank "class="icon"><i class="fab fa-linkedin-in"></i></a></li>        
            </div>
        </div>
    </div>
</footer>